.meetings {
    background-color: rgb(63, 63, 63);
    height: 800px;
    padding-top: 150px;
}

.meetings_content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.meetings_content_menu {
    width: 30%;
    background-color: #fff;
    height: 400px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.meetings_content_blocks {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meetings_content_blocks > div {
    background-color: #fff;
    width: 48%;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 20px;
    position: relative;
}

.meetings_content_blocks > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
}

.meetings_content_blocks > div:first-child::before {
    content: "New Lecturers Meeting";
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;

    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(12, 154, 215, 0.42);
    border-radius: 0px;
    transition: width 2s;
}

.meetings_content_blocks > div:first-child:hover::before {
    width: 100%;
}




.meetings_content_blocks > div:nth-child(2) {
    display: flex;
    align-items: end;
    justify-content: right;
}

.meetings_content_blocks > div:nth-child(3) {
    display: flex;
    justify-content: right;
}

.meetings_content_blocks > div:last-child {
    display: flex;
    align-items: end;
}

